@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    text-rendering: optimizeLegibility !important;
    text-decoration: none;
}


.conteinerGrupo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grupo{
    background-color: #0043ce;
    height: 30px;
    width: 980px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grupo p{
    color: #fff;
    font-weight: bold;
}

.conteinerSelecao{
margin: 15px 0px 15px 0px;
}

.nomeSelecaoP{
    margin-bottom: 10px;
}

.conteinerFigurinhas{
    display: grid;
    grid-template-columns: repeat(9, 100px);
    gap:10px;
}
.figurinha{
    width: 100px;
    height: 100px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2px;
    box-shadow: 0 0 10px #04050629;
}

.figurinha p{
    margin-top: 10px;
}

.figurinhaDark{
    width: 100px;
    height: 100px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2px;
    background-color: #1a1f23;
}

.epele{
    background-color: blueviolet;
}

.addOuDeletaConteiner{
    display: flex;
    position: absolute;
    bottom: 0;
    width: 90px;
    margin-bottom: 5px;
}

.adiciona{
    border: 0px;
    display: flex;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: #0043ce;
    color: #fff;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.adiciona:hover{
    cursor: pointer;
}

.deleta{
    border: 0px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color:#3f7df9;
    color: #fff;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.deleta:hover{
    cursor: pointer;
}



.possuiFigurinha{
    background-color: #dde1e6;
}





/*NOVOS ESTILOS USANDO APPEND CHILD COMEÇAM AQUI 12161929*/

.cabecalhoContainerLight{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0px 100px 0px 100px;
    box-shadow: 0 1px 4px #12161929;
    
}

.cabecalhoContainerDark{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0px 100px 0px 100px;
    background-color: #121619;
    box-shadow: 0 1px 4px #0000007a;
    
}

.textoLogoLight{
    color: #000000;
}

.textoLogoDark{
    color: #878d96;
}

.abasDoMenuContainer{
    height: 100%;
    display:flex;
    align-items: center;
    overflow: hidden;
}

.abaDoMenuLight{
    padding: 0px 10px 0px 10px;
    margin-right: 15px;
    height: 100%;
    display: flex;
    align-items: center;
    border-bottom: 7px solid transparent;
}

.abaDoMenuDark{
    padding: 0px 10px 0px 10px;
    margin-right: 15px;
    height: 100%;
    display: flex;
    align-items: center;
    border-bottom: 7px solid transparent;
}

.abaDoMenuLight:hover{
    background-color: #dde1e6;
    text-decoration: underline;
    text-decoration-color: #878d96;
    border-bottom: 7px solid #0043ce;
    cursor: pointer;
}

.abaDoMenuDark:hover{
    background-color: #1a1f23;
    text-decoration: underline;
    text-decoration-color: #878d96;
    border-bottom: 7px solid #0043ce;
    cursor: pointer;
}

.abasDoMenuContainer li a{
    color: #878d96;
    margin-top: 4px;
}

.barraPorcentagem{
    border-top:5px solid #0043ce;
    position: relative;
}

.textoPorcentagem{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 10px;
}

.botaoTrocaTema{
    width: 28px;
    height: 28px;
    position: absolute;
    right: 0;
    margin-right: 50px;
}

.botaoTrocaTema:hover{
    cursor: pointer;
}

.principalContainer{
    background-color: #fff;
    padding-top: 20px;
    
}



.colorLight{
    color: #000000;
}

.colorDark{
    color: #878d96;
}


.containerBandeira{
    display: flex;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 8px #04050629;
}

.metadeBandeiraContainer{
    width: 50%;
    height: 100%;
}


.containerEstatisticas{
    display: grid;
    grid-template-columns: repeat(4, 150px);
    gap: 30px 10px;
}



.alinhaContainerEstatisticas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardSelecaoLight{
    width: 150px;
    height: 180px;
    box-shadow: 0 0 3px #04050629;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
}

.cardSelecaoDark{
    background-color: #1a1f23;
    width: 150px;
    height: 180px;
    box-shadow: 0 0 3px #04050629;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
}

.containerInfoSelecao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
}

.containerEstatisticasSelecao{
    background-color: #0043ce;
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.containerEstatisticasSelecao p{
    color: #fff;
}


.textoNomeSelecao{
    font-size: 13px;
    margin-top: 10px;
}


.conteinerFigurinhasLegend{
    display: grid;
    grid-template-columns: repeat(4, 150px);
    gap: 30px 10px;
    padding:20px 0px 20px 0px;
}

.logoDesktop{
    display: block;
}

.logoMobile{
    display: none;
}

.tituloSuasEstatisticas{
    margin: 20px 0px 20px 0px;
    font-weight: bold;
}

.tituloCompletados{
    margin: 80px 0px 20px 0px;
    font-weight: bold;
}

.tabelaCompletados{ 
    width: 640px;
    margin-bottom: 20px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
tr:nth-child(even) {
    background-color: #c0c0c0;
}


.botaoParaTopo{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 25px;
    height: 25px;
}

.botaoParaTopo:hover{
    cursor: pointer;
}